<?php include ADMIN_COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop fly-user-main">
    <?php include ADMIN_COMMON_PATH.'/index-nav.html';?>
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="info">基础设置</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form-pane layui-tab-item layui-show">
                    <blockquote class="layui-elem-quote">
                        <p>
							注意事项： 请根据实际情况自行填写。
						</p>
                    </blockquote>
                    <form class="layui-form layui-show" method="post">
                        <div class="layui-form-item">
                            <label for="weburl" class="layui-form-label">站点地址</label>
                            <div class="layui-input-inline">
                                <input type="text" id="weburl" autocomplete="off" value="<?php echo $config['weburl'];?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="webname" class="layui-form-label">站点名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="webname" autocomplete="off" value="<?php echo $config['webname'];?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="webdescription" class="layui-form-label">站点描述</label>
                            <div class="layui-input-inline">
                                <input type="text" id="webdescription" autocomplete="off" value="<?php echo $config['webdescription'];?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="adminemail" class="layui-form-label">管理员邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" id="adminemail" autocomplete="off" value="<?php echo $config['adminemail'];?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="logo" class="layui-form-label">站点logo</label>
                            <div class="layui-input-inline">
                                <input type="text" id="logo" autocomplete="off" value="<?php echo $config['logo'];?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="shortcuticon" class="layui-form-label">站点ICO</label>
                            <div class="layui-input-inline">
                                <input type="text" id="shortcuticon" autocomplete="off" value="<?php echo $config['shortcuticon'];?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="backgroundimage" class="layui-form-label">站点背景图</label>
                            <div class="layui-input-inline">
                                <input type="text" id="backgroundimage" autocomplete="off" value="<?php echo $config['backgroundimage'];?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="tongji" class="layui-form-label">站点统计</label>
                            <div class="layui-input-inline">
								<textarea placeholder="" id="tongji" name="tongji" autocomplete="off" class="layui-textarea" style="height: 80px;"><?php echo $config['tongji'];?></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入公共底文件-->
<?php include ADMIN_COMMON_PATH.'/footer.html';?>
<script>
layui.use('adminprofiles');
</script>